//
   Created by wanghui on 16-5-16.

doctype html
html
    head
        title= title

        //link(rel='stylesheet', href='/stylesheets/style.css')
    body
        #msg #{message}
        block content
